name: build

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install

      - name: Build for production
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build

      - name: Install Go
        uses: actions/setup-go@v2

      - name: Install statik & build embed files
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          go get github.com/rakyll/statik
          statik -src=dist

      - name: Commit embed files
        run: |
          cd ..
          git clone https://github.com/kgmedia-data/rec-ui.git dashboard-statik
          cd dashboard-statik
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git checkout statik || git checkout --orphan statik
          git pull origin statik
          git rm -r --cached .
          rm statik.go go.mod go.sum
          cp -f ../rec-ui/statik/statik.go statik.go
          go mod init github.com/kgmedia-data/rec-ui
          go mod tidy
          git add statik.go go.mod go.sum
          git commit -m "Build embed files"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git push origin statik
          git checkout main
          cp -rf ../rec-ui/statik/statik.go statik.go
          rm go.mod go.sum
          go mod init github.com/kgmedia-data/rec-ui
          go mod tidy
          git add statik.go go.mod go.sum
          git commit -m "Build embed files"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git push origin main

